.container {
  padding: 0 0.5rem;
  width: 100%;
  height: 100%;
}

.banner {
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.seasonsContainer {
  &:last-child {
    margin-bottom: 10rem;
  }
}

.episodesContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
  font-size: 0.85rem;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.episodeContainer {
  overflow: hidden;
  background: floralwhite;
  width: 11rem;
  border-radius: 0.7rem;
  flex-shrink: 0;

  transition: 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    border-radius: 5rem;
  }

  &:last-child {
    margin-right: 3rem;
  }
}

.episode {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  > div {
    height: 3rem;
    display: flex;
    align-items: center;
    text-align: center;

    > span {
      position: relative;
      left: 0.5rem;
      top: -1rem;
      font-size: 9px;
    }
  }
}
